alias ls="ls -G"

OS=$(uname)

if [ "$OS" == "Darwin" ]; then
    alias ls="gls --color"
else
    alias ls="ls --color"
fi
alias l="ls"
alias sl="ls"
alias dc="cd"
alias ..="cd .."

# Git
alias gs="git status"
alias gb="git branch"
alias glog="git log --pretty=short"
