alias ls="ls -G"
alias ls="gls --color"
alias l="ls"
alias sl="ls"
alias dc="cd"
alias ..="cd .."

# Git
alias gs="git status"
alias gb="git branch"
alias gcb="git checkout -"
alias gpod="git pull origin develop"
alias glog="git log --pretty=short"
