alias ls="ls -G"
alias ls="gls --color"
alias l="ls"
alias sl="ls"
alias dc="cd"
alias ..="cd .."

# Git
alias gs="git status"
alias gb="git branch"
alias glog="git log --pretty=short"
alias ga="git add *"
